:root {
  --blue-50: 244, 246, 255;
  --blue-100: 219, 223, 255;
  --blue-200: 170, 186, 255;
  --blue-300: 130, 155, 255;
  --blue-400: 64, 124, 248;
  --blue-500: 28, 93, 200;
  --blue-600: 29, 66, 148;
  --blue-700: 9, 38, 94;
  --blue-800: 6, 22, 59;
  --blue-900: 3, 12, 31;
  --blue-1000: 1, 6, 13;
  --overlay-background-color: var(--blue-800);
}
.btn-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: rgb(var(--blue-50));
  --bs-btn-bg: rgb(var(--blue-800));
  --bs-btn-border-color: rgb(var(--blue-800));
  --bs-btn-hover-color: rgb(var(--blue-50));
  --bs-btn-hover-bg: rgb(var(--blue-600));
  --bs-btn-hover-border-color: rgb(var(--blue-600));
  --bs-btn-focus-shadow-rgb: rgb(var(--blue-600));
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: rgb(var(--blue-600));
  --bs-btn-active-border-color: rgb(var(--blue-600));
}

.btn-secondary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: rgb(var(--blue-800));
  --bs-btn-bg: rgb(var(--blue-200));
  --bs-btn-border-color: rgb(var(--blue-200));
  --bs-btn-hover-color: rgb(var(--blue-800));
  --bs-btn-hover-bg: rgb(var(--blue-400));
  --bs-btn-hover-border-color: rgb(var(--blue-400));
  --bs-btn-focus-shadow-rgb: rgb(var(--blue-400));
  --bs-btn-active-color: rgb(var(--blue-800));
  --bs-btn-active-bg: rgb(var(--blue-500));
  --bs-btn-active-border-color: rgb(var(--blue-500));
}
.btn-outline-primary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: rgb(var(--blue-800));
  --bs-btn-bg: transparent;
  --bs-btn-border-color: rgb(var(--blue-800));
  --bs-btn-hover-color: rgb(var(--blue-50));
  --bs-btn-hover-bg: rgb(var(--blue-600));
  --bs-btn-hover-border-color: rgb(var(--blue-600));
  --bs-btn-focus-shadow-rgb: rgb(var(--blue-600));
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: rgb(var(--blue-600));
  --bs-btn-active-border-color: rgb(var(--blue-600));
  color: rgb(var(--blue-700)); /* Light mode text color */
}

.btn-outline-secondary {
  --bs-btn-font-weight: 600;
  --bs-btn-color: rgb(var(--blue-800));
  --bs-btn-bg: transparent;
  --bs-btn-border-color: rgb(var(--blue-200));
  --bs-btn-hover-color: rgb(var(--blue-800));
  --bs-btn-hover-bg: rgb(var(--blue-400));
  --bs-btn-hover-border-color: rgb(var(--blue-400));
  --bs-btn-focus-shadow-rgb: rgb(var(--blue-400));
  --bs-btn-active-color: rgb(var(--blue-800));
  --bs-btn-active-bg: rgb(var(--blue-500));
  --bs-btn-active-border-color: rgb(var(--blue-500));
  color: rgb(var(--blue-700)); /* Light mode text color */
}
.bg-primary {
  --bs-bg-opacity: 1;
  background-color: rgb(var(--blue-800)) !important;
}

.btn-check:checked + .btn,
:not(.btn-check) + .btn:active,
.btn:first-child:active,
.btn.active,
.btn.show {
  color: rgb(var(--blue-100));
}

.btn-check + .btn:hover {
  color: rgb(var(--blue-800));
  background-color: rgb(var(--blue-100));
}
.custom-toggler.navbar-toggler {
  border-color: rgb(var(--blue-50));
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

body {
  background-color: rgb(var(--blue-700));
  color: rgb(var(--blue-50));
}

.rbt-token {
  color: rgb(var(--blue-700)) !important;
}
[data-bs-theme="dark"] {
  /* .btn-close {
    --bs-btn-close-white-filter: none !important;
  } */
  .form-control {
    background-color: rgb(var(--blue-900)) !important;
  }
  .btn-check:checked + .btn,
  :not(.btn-check) + .btn:active,
  .btn:first-child:active,
  .btn.active,
  .btn.show {
    color: rgb(var(--blue-100));
  }
  .btn-check + .btn:hover {
    color: rgb(var(--blue-100));
    background-color: rgb(var(--blue-800));
  }
  .btn-outline-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: rgb(var(--blue-800));
    --bs-btn-bg: transparent;
    --bs-btn-border-color: rgb(var(--blue-800));
    --bs-btn-hover-color: rgb(var(--blue-50));
    --bs-btn-hover-bg: rgb(var(--blue-600));
    --bs-btn-hover-border-color: rgb(var(--blue-600));
    --bs-btn-focus-shadow-rgb: rgb(var(--blue-600));
    --bs-btn-active-color: rgb(var(--bs-btn-h) over-color);
    --bs-btn-active-bg: rgb(var(--blue-600));
    --bs-btn-active-border-color: rgb(var(--blue-600));
    color: rgb(var(--blue-100)); /* Dark mode text color */
  }

  .btn-outline-secondary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: rgb(var(--blue-800));
    --bs-btn-bg: transparent;
    --bs-btn-border-color: rgb(var(--blue-200));
    --bs-btn-hover-color: rgb(var(--blue-800));
    --bs-btn-hover-bg: rgb(var(--blue-400));
    --bs-btn-hover-border-color: rgb(var(--blue-400));
    --bs-btn-focus-shadow-rgb: rgb(var(--blue-400));
    --bs-btn-active-color: rgb(var(--blue-800));
    --bs-btn-active-bg: rgb(var(--blue-500));
    --bs-btn-active-border-color: rgb(var(--blue-500));
    color: rgb(var(--blue-100)); /* Dark mode text color */
  }
}
[data-bs-theme="light"] {
  body {
    background-color: rgb(var(--blue-50));
    color: rgb(var(--blue-800));
  }
  .navbar-brand,
  a {
    color: rgb(var(--blue-800));
  }
  .bg-primary {
    --bs-bg-opacity: 1;
    background-color: rgb(var(--blue-300)) !important;
  }
}

.overlay-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(var(--overlay-background-color), 0.7);
  padding: 2px;
}
.overlay-bottom a {
  color: rgb(var(--blue-50));
}
.card-img-overlay {
  top: -50px;
  border-radius: var(--bs-card-inner-border-radius)
    var(--bs-card-inner-border-radius) 0 0;
}

.card-img-top {
  max-width: 12rem;
}
.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
