:root {
  --film-image-width: 13rem;
}

.profile-photo {
  max-width: var(--film-image-width);
}
.film-item {
  position: relative;
  overflow: hidden;
}

.film-image {
  max-width: var(--film-image-width);
}

.film-overlay {
  max-width: var(--film-image-width);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  /padding: 5px 5px 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: background-color 0.3s ease-in-out;
  z-index: 2;
  width: calc(var(--film-image-width) + 2 * 15px);
}

.film-item:hover .film-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.film-info-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 1;
  width: calc(var(--film-image-width) + 2 * 15px);
}

.film-item:hover .film-info-overlay {
  opacity: 1;
}

.film-info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px 15px 40px;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  text-align: left;
  max-width: var(--film-image-width);
}

.film-item:hover .film-info {
  opacity: 1;
}

.film-item::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 20px;
  background-color: inherit;
}
